.benefits {



.benefits__list{
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.benefits__item{
    margin: 15px;

     @media screen and (min-width: 768px){
      width: calc((100% - 2*30px)/2);
    }
     @media screen and (min-width: 1200px){
      width: calc((100% - 4*30px)/4);
    }
}



    &__title {
        font-size: 14px;
        letter-spacing: 0.03em;
        color: var(--title-text-color); }

        

    &__title--bottom {
        margin-bottom: 10px;
     @media screen and (min-width: 768px){
              margin-right: auto;
         }
     @media screen and (min-width: 1200px){
              margin-right: auto;
         }
        
        }


    &__text {
        line-height: 1.71; }

    &__thumb-text{
       
     display: flex;
     flex-direction: column;
     align-items: center;
  
     }

}



.thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-color: var(--button-color);
    border-radius: 4px;
    margin-bottom: 30px;

    &__icon {
        display: flex;
        width: 70px;
        height: 70px;
    }


}