$background-color-hover: #188CE8;
$border-color: #0000001A;

.button {

    font-size: 16px;
    display: inline-block;
    padding: 10px 32px;
    text-align: center;
    line-height: 1.87;
    font-weight: 700;
    letter-spacing: 0.06em;
    cursor: pointer;
    border: none;
    background-color: var(--accent-color);
    color: var(--text-white-color);
    box-shadow: var(--box-shadows-button);
    border-radius: 4px;
}

.filter-button {

    display: inline-block;
    padding: 6px 22px;

    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    background-color: var(--button-color);
    color: var(--title-text-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color, 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
    &:focus {
        color: var(--button-color);
        background-color: var(--accent-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
    }

}

.form-button {
    display: inline-flex;
    text-align: center;
    background-color: var(--accent-color);
    box-shadow:var(--box-shadows-button);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: var(--text-white-color);

    &__modal {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        padding: 10px 55px;
        height: 50px;
        width: 200px;

        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.06em;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    &__modal:hover,
    &__modal:focus {
        background-color: $background-color-hover;
    }

    
    &--send {
    align-items: center;
    padding: 10px 29px;
    margin-left: 12px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
}

    &__icon {
    margin-left: 10px;
    width: 24px;
    height: 24px;
}
}

.close-button {
    position: absolute;
    display: flex;
    top: 8px;
    right: 8px;
    transform: translate(-8%, -8%);
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    width: 30px;
    height: 30px;

    border: 1px solid $border-color;
    background-color: var(--text-white-color);

    &__icon {
        display: flex;
        width: 18px;
        height: 18px;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__icon:hover {
        fill: var(--color-hover);
    }

}