.form-checkbox {
    position: relative;
    display: inline-flex;
    align-items: center;

    font-size: 14px;
    line-height: 1.71;
    color: var(--auth-color);
    margin-top: 20px;

}

.checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.checkbox-icon {

    width: 16px;
    height: 15px;
    margin-right: 7px;
    background-image: url(../img/rectangel.svg);

    .checkbox:checked+& {
    background-image: url(../img/icon\ check.svg);
}
    &__link {
    color: var( --accent-color);
}

}



