.footer {
    background-color: var(--hero-bc-color);
    padding-bottom: 60px;
    padding-top: 60px;

    &__section {
    display: flex;

    }

    &__address {
    margin-right: 70px;
    }
}



.logo-footer {
    display: block;
    text-decoration: none;
    margin-right: 0px;

 
}
.logo__label {
    color: var(--text-white-color);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.2;
}

.adress {
    margin-top: 20px;
    font-style: normal;
    text-decoration: none;

    &__text {

    margin-bottom: 9px;
    font-weight: 400;
    line-height: 1.71;
    color: var(--text-white-color);
}

    &__link {
    display: block;
    margin-top: 0px;
    margin-bottom: 9px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    color: var(--adrress-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

    &__link:last-child {
    margin-bottom: 0px;
}

}

.subtitle--footer {
    color: var(--text-white-color);
}