$border-bottom:#ECECEC;

.header {
    position: relative;
    border-bottom: 1px solid $border-bottom;
    // height: 80px;
   

    &__inner{
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;

    @media screen and (min-width: 768px){
        height: 80px;
    }
    @media screen and (min-width: 1200px){
        height: 80px;
    }
  
}


}
.header__desktop-menu{
    display: none;
     @media screen and (min-width: 768px){
        display: block;
     }
            
            
    

}


.menu-button{
    display: inline-flex;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
}

.menu-button .icon-close-menu{
    display: none;
}

.menu-button.is-open .icon-close-menu{
    display: block;
}
.menu-button.is-open .icon-menu{
    display: none;
}

.menu-content{
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    width: 100%;
    padding-top: 48px;
    padding-left: 40px;
    width: 480px;
    height: 796px;
    background-color: var(--text-white-color);
    
    &.is-open{
    display: block;
 
}

}