$border-bottom:#ECECEC;

.header {
    position: relative;
    border-bottom: 1px solid $border-bottom;
    // height: 80px;
   

    &__inner{
    
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;

    @media screen and (min-width: 768px){
        height: 80px;
    }
    @media screen and (min-width: 1200px){
        height: 80px;
    }
  
}


}
.header__desktop-menu{
    display: none;
     @media screen and (min-width: 768px){
        display: block;
     }


}

.menu-button{
    display: inline-flex;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
}

.menu-button .icon-close-menu{
    display: none;
}
.menu-button.is-open .icon-close-menu{
    display: block;
}
.menu-button.is-open .icon-menu{
    display: none;
}

.menu-container{
    // position: absolute; 
    // // display: none;
    // top: 100%;
    // left: 0;
    // width: 100%;
    padding-top: 48px;
    padding-left: 40px;
    width: 480px;
    min-height: 796px;
    background-color: var(--text-white-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);

    &.is-open{
        display: block;
    }
    @media screen and (max-width: 767px){
        display: none;
        position: absolute; 
        top: 100%;
        left: 0;
        width: 100%;
      
    }

    @media screen and (min-width: 768px){
        display: none;
        
    }
    
    @media screen and (min-width: 1200px){
        display: none;
        
    }
}
    
    .menu-container__item{
    font-size: 40px;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.02em;
     
    }
    .menu-container__link:not(:last-child){
      padding-bottom: 32px;
    }
    .menu-container--current {
        color: var(--accent-color);
    }
    .menu-container__address{
        margin-top: 302px;
        margin-bottom: 64px;
    }
    .menu-container--mail{
        font-size: 34px;
        line-height: 1.17;
        letter-spacing: 0.02em;
    }
    .menu-container--phone{
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: 0.02em;
    }
    .menu-sotial{
        display: flex;
        margin-bottom: 48px;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        color: #2196F3;
    }

    .menu-sotial__text::after{
        content:"|";
        margin-right: 10px;
        margin-left: 10px;
        color: rgba(33, 33, 33, 0.2);
        // border: 1px solid rgba(33, 33, 33, 0.2);
        // transform: rotate(90deg);

    }

// .menu-content{
//      position: absolute;
//      display: none;
 
//     // top: 100%;
//     // left: 0;
//     // width: 100%;
//     padding-top: 48px;
//     padding-left: 40px;
//     width: 480px;
//     height: 796px;
//     background-color: var(--text-white-color);
    
//     &.is-open{
//     display: block;

// }
//  @media screen and (max-width: 767px){
//    display: none;
//    position: absolute;
//     top: 100%;
//     left: 0;
//     width: 100%;





//    }
// }




.menu-button{
  @media screen and (min-width: 768px){
   display: none;
   }
    @media screen and (min-width: 1200px){
   display: none;
   }
} 