.hero {
    max-width: 1600px;

    background-position: center;
    background-size: cover;
    padding-bottom: 200px;
    padding-top: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../img/hero.jpg);
    background-color: var(--hero-bc-color);
}