.reference {
   padding-top: 0;
   padding-bottom: 94px;

    &__list {
    display: flex;
    justify-content: space-between;
}

    &__item {
    display: flex;
    position: relative;
    padding-bottom: 0;
}

   &__overlay {
    display: block;
    position: absolute;
    width: 100%;
    padding: 27px 82px;
    background-color: rgba(47, 48, 58, 0.8);
    margin: 0;
    bottom: 0;
}

    &__overlay--uppercase {

    color: var(--text-white-color);
}
}


