$background-color:#FFFFFF;

.team {

    background-color: #F5F4FA;

    &__item {
    // height: 428px;
    height: auto;
    max-width: 100%;
    background-color: $background-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

  

}

  @media screen and (max-width: 767px){
    
      .team__item:not(:last-child){
       margin-bottom: 30px;
    }
  }


  @media screen and (min-width: 1200px){
        margin-bottom: 0px;
      }


    &__inner {
    padding-top: 30px;
    padding-bottom: 30px;
}

    &__title {
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    color: var(--title-text-color);
}

    &__text {
    margin-bottom: 16px;
}

}

    
.team__list{

  
      @media screen and (min-width: 768px){
       display: flex;
       flex-wrap: wrap;
       margin: -15px;
      }
        @media screen and (min-width: 1200px){
       display: flex;
       flex-wrap:nowrap;
        margin: -15px;
      }
}
.team__item{
 
    @media screen and (min-width: 768px){
     width: calc((100% - 4*15px)/2);
     margin: 15px;
   
      }

}

.team__photo{
@media screen and (min-width: 480px){
        width: 450px;
        height: 460px;
      }
}


.card-text {
    text-align: center;
    font-size: 16px;
    line-height: 1.18;
    color: var(--primery-text-color);
}

// @media screen and (max-width: 1199px){
//     .team__item:not(:last-child){
//         margin-right: 30px;
//     }
// }