:root {
    --primery-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primery-nav-color: #212121;
    --auth-color: #757575;
    --text-white-color: #FFFFFF;
    --button-color: #F5F4FA;
    --adrress-text-color: rgba(255, 255, 255, 0.6);
    --hero-bc-color: #2F303A;
    --color-hover: #2196F3;
    --color-social-link: #AFB1B8;
    --box-shadows-button: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

